@import "../../theme/theme.scss";

footer{

    width: 100%;
    background-color: $secondary;
    height: 150px;
    display: flex;
    justify-content: center;
  



   p{
    color: aliceblue;
   }
   h4{
    font-size: 18px;
    color: aliceblue;
   }
}
.footer-layout {
  
    width: 33%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
    color: aliceblue;


}
.text {
 
    width: 100%;
  
}